*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
main{
    width: 50%;
    background: azure;
    margin: auto;
}
h1{
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem;
}
.form-control{
    font-size: 2rem;
    padding: 1.5rem 10rem;
}
.input, textarea{
    width: 100%;
    height: 3rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}
textarea{
    height: 10rem;
}
button{
    font-size: 2rem;
    background-color: black;
    color: white;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    width: 10rem;
    content: "/25BC";
}